<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- Boostrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <script type="text/javascript" src="/scripts/app.js"></script>

    <script type="text/javascript" src="/scripts/animations.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>

  <body>
    <nav id="nav_bar">
      <!-- <span class="hiddenName">TODO List</span> -->
      <div id="logo">
        <a href="#"><img src="documents/ToDoLogo.png" style="overflow:left"></a>
      </div>
      <a href="#movies_image" id="movie_menu_link" class="active">To Watch</a>
      <a href="#products_image" id="product_menu_link">To Buy</a>
      <a href="#books_image" id="book_menu_link">To Read</a>
      <a href="#food_image" id="food_menu_link">To Eat</a>

      <div class="dropdown">
        <a id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          More Todo
          <span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">


          <!-- <li><a taga-toggle="modal" data-target="#myModal">Add Todo</a></li> -->

          <li><a data-toggle="modal" data-target="#myModal_add">Add Todo</a></li>
          <li><a data-toggle="modal" data-target="#myModal_login">Log in</a></li>
          <li><a href="">Register</a></li>
        </ul>
      </div>
    </nav>

    <main class="container">
      <div id="movies_image">
        <h1 class="image_text"> Films/Series To Watch </h2>
      </div>
      <div class="movies">

        <div class="card" >

        <!-- <div class="card card_movie" id="movie_test">
            <img class="card-img-top" src="http://via.placeholder.com/80x60"/>
            <div class="card-body">
              <h4 class="card-title">Placeholder</h4>
              <p class="card-text"> Dummie text </p>
              <button class="btn btn-info btn-info-edit">Edit</button>
              <button class="btn btn-danger btn-danger-edit">Delete</button>
              <label class="is_done_label"> </label>
            </div>
        </div> -->

      </div>

      <!-- Start of Products Section -->
      <div id="products_image">
        <h1 class="image_text"> Products To Buy </h2>
      </div>
      <div class="products">

        <!--
        <div class="card" >
=======
        <div class="card card_product" id="product_test">
>>>>>>> client_side_data_manipulation
            <img class="card-img-top" src="http://via.placeholder.com/80x60"/>
            <div class="card-body">
              <h4 class="card-title">Placeholder</h4>
              <p class="card-text"> Dummie text </p>
              <button class="btn btn-info btn-info-edit">Edit</button>
              <button class="btn btn-danger btn-danger-edit">Delete</button>
              <label class="is_done_label"> </label>
            </div>
        </div>
      -->

      </div>
      <!-- End of Product Section -->

      <!-- Start of Book Section -->
      <div id="books_image">
        <h1 class="image_text"> Books To Read </h2>
      </div>
      <div class="books" id="book_test">

        <!--
        <div class="card" >
=======
        <div class="card card_book" id="card_test">
>>>>>>> client_side_data_manipulation
            <img class="card-img-top" src="http://via.placeholder.com/80x60"/>
            <div class="card-body">
              <h4 class="card-title">Placeholder</h4>
              <p class="card-text"> Dummie text </p>
              <button class="btn btn-info btn-info-edit">Edit</button>
              <button class="btn btn-danger btn-danger-edit">Delete</button>
              <label class="is_done_label"> </label>
            </div>
        </div>
      -->

      </div>
      <!-- End of Book Section -->

      <!-- Start of Food Section -->
      <div id="food_image">
        <h1 class="image_text"> Restaurants&Cafes To Eat</h2>
      </div>
      <div class="food" id="food_test">

        <!--
        <div class="card" >
=======
        <div class="card card_food" id="card_test">
>>>>>>> client_side_data_manipulation
            <img class="card-img-top" src="http://via.placeholder.com/80x60"/>
            <div class="card-body">
              <h4 class="card-title">Placeholder</h4>
              <p class="card-text"> Dummie text </p>
              <button class="btn btn-info btn-info-edit">Edit</button>
              <button class="btn btn-danger btn-danger-edit">Delete</button>
              <label class="is_done_label"> </label>
            </div>
        </div>
      -->

      </div>
      <!-- End of Food Section -->

      <footer>
        <p style="color:white"> some copyright crap </p>
      </footer>

    </main>

    <!-- Extra forms hiding  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->

    <!-- Adding New Todo Form -->
    <div class="modal fade" id="myModal_add" role="dialog">
      <div class="alert alert-danger toggle">
        <a class="close" aria-label="close">&times;</a>
        <strong>Error!</strong> You did not enter anything
      </div>
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Your New Todo</h4>
          </div>
          <!-- <form action="" method="POST"> -->
            <div class="modal-body">
              <textarea class="new_todo_input" placeholder="Enter the name of your todo here!"></textarea>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success btn_submit" >Add</button>
              <button type="button" class="btn btn-danger btn_add_close" data-dismiss="modal">Close</button>
            </div>
          <!-- </form> -->
        </div>
      </div>
    </div>

    <!-- Adding log in popup NOT WORKING-->
    <div class="modal fade" id="myModal_login" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Log in</h4>
          </div>
          <!-- <form action="" method="POST"> -->
            <div class="modal-body">
              <textarea class="new_todo_input" placeholder="Enter the name of your todo here!"></textarea>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success btn_submit" >Co</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          <!-- </form> -->
        </div>
      </div>
    </div>

    <!-- Register popup NOT WORKING  -->
    <div class="modal fade" id="myModal_login" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Log in</h4>
          </div>
          <!-- <form action="" method="POST"> -->
            <div class="modal-body">
              <textarea class="new_todo_input" placeholder="Enter the name of your todo here!"></textarea>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success btn_submit" >Co</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          <!-- </form> -->
        </div>
      </div>
    </div>

  <!-- Edit cards' idDone/type/description -->
  <div class="modal fade" id="myModal_card_edit" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <form action="" method="PUT">
          <div class="modal-header">
            <button type="button" class="close " data-dismiss="modal">&times;</button>
            <h4>Edit Your Todos</h4>
          </div>

          <div class="modal-body modal_body_edit_edit">
            <div class="modal-body_input">
              <h6 class="rename_todo_h6"> Rename Your Todo:</h6>
              <textarea class="rename_todo" rows="1"></textarea>
            </div>
            <div class="modal-body_radio">
              <h6 class="rename_todo_h6"> Done This Todo?</h6>
              <div class="radio">
                <label><input type="radio" name="optradio" value="1" class="is_done_label">Yes</label>
              </div>
              <div class="radio">
                <label><input type="radio" name="optradio" value="2" class="is_done_label">No</label>
              </div>
            </div>
            <div class="form-group modal-body_select">
              <h6>Wrong Category?</h6>
              <select class="form-control">
                <option value="none"> </option>
                <option value="movie_sele">Movie</option>
                <option value="product_sele">Product</option>
                <option value="book_sele">Book</option>
                <option value="food_sele">Food</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" data-dismiss="modal" class="btn btn-info btn-card-update">Update</button>
            <button type="button" data-dismiss="modal" class="btn btn-danger">Cancel</button>
          </div>
        </form>
      </div>

    </div>
  </div>


  <!-- Delete confirming -->
  <!-- Modal -->
  <div class="modal fade" id="myModal_delete" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header delete_modal_edit_header">
          <button type="button" class="close " data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>Are you sure?</p>
        </div>
        <div class="modal-footer delete_modal_edit_footer">
          <button type="button" data-dismiss="modal" class="btn btn-primary btn_delete_confirmation" id="delete">Delete</button>
          <button type="button" data-dismiss="modal" class="btn btn-danger">Cancel</button>
        </div>
      </div>

    </div>
  </div>



  </body>
</html>















