div.card{
  margin: 1em 0em 1em 2em;
  border: 1px lightgrey solid;
  border-radius: 25px;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  height: 35em;
  width: 250px;
}

div.card:hover {
  border: 1px black solid;
}

h4.card-title {
  height: 57px;
  padding: auto;
}

.card-imgbox{
  width: 250px;
  max-height: 140px;
  overflow: hidden;
  margin: auto;
  transition: max-height 3s ease-in-out;
}

.card-imgbox:hover{
  max-height: 1000px;
}

img.card-img-top{
  object-fit: cover;
  max-width:100%;
  height: 100%;
  width: 100%;
}


img.card-img-top{
  width:100%;
}

button.btn-info-edit{
  margin-top: 4em;
  width: 6em;
}

button.btn-danger-edit{
  margin-top: 4em;
  width: 6em;
}

.list-group-flush{
  height: 125px;
}

label.is_done_label{
  margin-top: 27px;
  width: 100%;
  border-bottom: 10px red solid;
}

.border-green{
  border-bottom: 10px green solid;
}
