#movies_image {
  background-image: url("../documents/movie.png");
  min-height: 400px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 6em;
}

div.movies{
  display: flex;
  margin: auto;
  margin-left: 12%;
  flex-wrap: wrap;
  max-width: 1200px;
}


// Common between all category css
h1.image_text{
  text-align: center;
  color: white;
  padding-top: 150px;
  font-size: 60px;
}
