#nav_bar{
  display: flex;
  text-align: left;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  height: 6em;

  a {
    flex: 0.2;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    padding: 1em 1em 3em;
  }

  a:hover {
    text-decoration: underline;
  }
}

#dropdownMenu1{
  position: relative;
  top: 0.3em;
  right: 0em;
}

#logo{
  flex: 1;
  margin: auto;

  img {
    max-width: 25vw;
  }
}


div.dropdown {
  margin-right: 3em;
  padding: 1em 1em 3em;
}

ul.dropdown-menu {
  top: 97%;
  background-color: rgba(0, 0, 0, 0.4)
}

.active{
  background: rgba(255, 255, 255, 0.3);
}

