#products_image {
  background-image: url("../documents/product.png");
  min-height: 400px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 6em;
}

div.products{
  display: flex;
  margin: auto;
  margin-left: 12%;
  flex-wrap: wrap;
  max-width: 1200px;
}
